<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <title>Register</title>
    
</head>
 
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Log in</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    {%with messages = get_flashed_messages()%}
    {%if messages %}
        <script type="text/javascript">
            alert("{{messages[-1]}}");
        </script>
    {%endif%}
    {%endwith%}

    <h3>  Resiger Page</h3>
    {% from "validation.html" import render_field %}
    <form action = "" method="post" align= "center">
        <dl>
            {{render_field(form.username)}}
            {{render_field(form.password)}}
            {{render_field(form.confirm)}}
        </dl>
        <input type = "submit" value = "Register"/>
    </form>
</body>
</html>